/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 800px;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

/*Vertical container*/
#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas-container {
    width: 1000px;
    height: 800px;
}